@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --active-item-color: #3390ec;
  --icon-color: #707579;
  --icon-hover-color: rgba(112, 117, 121, 0.08);
  --border-color: #dadce0;
  --chat-hover-color: #f4f4f5;
  --chat-message-color: #ffffff;
  --chat-message-own-color: #eeffde;
  --chat-message-meta-color: #686c72;
  --chat-message-own-meta-color: #4fae4e;
  --chat-box-background-color: #8fbc88;
  --input-color: #ffffff;
  --input-secondary-color: #f4f4f5;
  --badge-background-color: #c4c9cc;
  --badge-color: #ffffff;
  --dropdown-background-color: rgba(255, 255, 255, 0.733333);
  --dropdown-shadow-color: rgba(114, 114, 114, 0.25098);
  --emoji-picker-bg: 255 255 255;
  --emoji-picker-color: 51 144 236;
  --scrollbar-color: rgba(90, 90, 90, 0.3);
  --patern-color: #4a8e3a8c;
  --modal-background: rgba(0, 0, 0, 0.9);
}

body[data-theme='dark'] {
  --background-color: rgb(33, 33, 33);
  --text-color: #ffffff;
  --active-item-color: #766ac8;
  --icon-color: #aaaaaa;
  --icon-hover-color: #2c2c2c;
  --border-color: #303030;
  --chat-hover-color: #2c2c2c;
  --chat-message-color: #212121;
  --chat-message-own-color: #766ac8;
  --chat-message-meta-color: #686c72;
  --chat-message-own-meta-color: rgba(255, 255, 255, 0.533333);
  --chat-box-background-color: #0f0f0f;
  --input-color: #212121;
  --input-secondary-color: #2c2c2c;
  --badge-background-color: #717579;
  --badge-color: #ffffff;
  --dropdown-background-color: rgba(33, 33, 33, 0.866667);
  --dropdown-shadow-color: rgba(16, 16, 16, 0.611765);
  --emoji-picker-bg: 33 33 33;
  --emoji-picker-color: 118 106 200;
  --scrollbar-color: rgba(90, 90, 90, 0.3);
  --patern-color: #0a0a0a8c;
  --modal-background: rgba(0, 0, 0, 0.9);
}

em-emoji-picker {
  --background-rgb: var(--emoji-picker-bg);
  --category-icon-size: 24px;

  --rgb-accent: var(--emoji-picker-color);
  --rgb-background: var(--emoji-picker-bg);
  --rgb-color: 170, 170, 170;
  --rgb-input: 255, 255, 255;

  height: 50vh;
  min-height: 400px;
  max-height: 800px;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  outline: none;
  width: 0.1rem;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

@layer utilities {
  .dropdown-shadow {
    box-shadow: 0 0.25rem 0.5rem 0.125rem var(--dropdown-shadow-color);
    backdrop-filter: blur(10px);
    background: var(--dropdown-background-color);
  }
}

/* Message styles */
@layer components {
  .message {
  }

  .message::before,
  .message::after {
    bottom: -0.1rem;
    content: '';
    height: 1rem;
    position: absolute;
  }

  .own {
  }
  .own::before {
    border-bottom-left-radius: 0.9rem 0.1rem;
    border-top-right-radius: 2rem;
    border-right: 1rem solid var(--chat-message-own-color);
    right: -0.3rem;
    transform: translate(0, -0.1rem);
  }

  .own::after {
    background-color: var(--chat-box-background-color);
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform: translate(-30px, -2px);
    width: 10px;
  }

  .other {
  }

  .other::before {
    border-bottom-right-radius: 0.9rem 0.1rem;
    border-top-left-radius: 2rem;
    border-left: 1rem solid var(--chat-message-color);
    left: -0.3rem;
    transform: translate(0, -0.1rem);
  }

  .other::after {
    background-color: var(--chat-box-background-color);
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }
}
